* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: '1942';
  src: url('fonts/1942-webfont.woff') format('woff');
}

@font-face {
  font-family: 'bebas';
  src: url('fonts/Bebas-Regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'daniel';
  src: url('fonts/Daniel-Regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'bitstream';
  src: url('fonts/VeraMono-webfont.woff') format('woff');
}

@font-face {
  font-family: 'cartoonist';
  src: url('fonts/SF_Cartoonist_Hand-webfont.woff') format('woff');
}

@font-face {
  font-family: 'cartoonist-bold';
  src: url('fonts/SF_Cartoonist_Hand_SC_Bold-webfont.woff') format('woff');
}

/* unvisited link */
a:link {
  text-decoration: none;
  color: inherit;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: inherit;
}

/* mouse over link */
a:hover {
  color: #808080;
  text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
  color: inherit;
}

header {
  color: #fff;
  background-color: #5995DA;
  padding: 25px 0;
  display: flex;
  flex-direction: column; 
  align-items: center;
}
  
.header-container {
  height: 50px;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.about-me {
  font-family: "cartoonist-bold", sans-serif;
  color: #ffff;
  font-size: 15px;
  font-weight: bold;
}

.quotation1-containter {
  display: flex;
  flex-direction: column;
  align-items: initial;
  font-family: 'daniel', sans-serif;
  font-size: 15px;
}

.quotation2-containter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'daniel', sans-serif;
  font-size: 15px;
  padding: 15px, 0px, 0px, 15px;
}

.linkedin {
  display: flex;
  justify-content:flex-end;
}

.contact-linkedin-icon {
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 5px;
}

.contact-in-touch {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
}

.name-surname {
  display: flex;
  align-items: flex-end;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  padding: 15px, 0px, 0px, 15px;
}

.title-container,
.summary-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}
  
.title,
.summary {
  text-align: center;
  width: 900px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
}

.main-title,
.summary-title {
    font-family: '1942', sans-serif;
    font-size: 35px;
}

.sub-title {
    font-family: '1942', sans-serif;
    font-size: 20px;
    padding-top: 10px;
}

.summary-description {
  font-family: "cartoonist", sans-serif;
  font-size: 25px;
  padding-top: 10px;
}

.chapters-grid-container {
  display: flex;
  justify-content: center;
}
  
.chapters-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  
.chapters-grid-item {
  background-color: #ffffff;
  width: 290px;
  height: 150px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 0px 5px 5px 0px;
  text-align: center;
  font-family: "cartoonist", sans-serif;
  font-size: 20px;
}

.chapter-container,
.skills-container,
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  
.chapter1-title,
.chapter3-title,
.chapter1-header,
.chapter3-header {
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: initial;
  font-family: "cartoonist-bold", sans-serif;
  font-size: 20px;
  padding: 10px;
}

.chapter1-example1-title,
.chapter3-example1-title {
    flex: 1;
    display: flex;
    justify-content: left;
    font-family: "cartoonist", sans-serif;
    font-size: 22px;
}

.chapter1-go-to-menu,
.chapter3-go-to-menu {
    flex: initial;
    display: flex;
    justify-content: flex-end;
    width: 100px;
    font-family: "cartoonist-bold", sans-serif;
    font-size: 15px;
}

.chapter1-example1-content,
.chapter3-example1-content,
.skills-content {
  display: flex;
  width: 900px;
  justify-content: center;
}

.chapter1-example1-content-pascal,
.chapter3-example1-content-pascal,
.chapter1-example1-content-javascript,
.chapter3-example1-content-javascript,
.chapter3-example1-content-pascal-language,
.chapter3-example1-content-javascript-language {
  flex: initial;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: initial;
  padding: 15px;
}

.chapter1-example1-content-pascal,
.chapter3-example1-content-pascal,
.chapter3-example1-content-pascal-language {
  background-color: #ffffff;
  color: #000000;
  font-family: 'bitstream', sans-serif;
  font-size: 12px;
}

.chapter1-example1-content-javascript,
.chapter3-example1-content-javascript,
.chapter3-example1-content-javascript-language {
  background-color: #000000;
  color: #ffffff;
  font-family: 'bitstream', sans-serif;
  font-size: 12px;
}

.technologies-content,
.tools-content,
.knowledge-content,
.projects-content {
  flex: initial;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: initial;
  padding: 15px;
  background-color: #ffffff;
  font-family: "cartoonist", sans-serif;
  font-size: 20px;
}

.tools-content {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.projects-content {
  border-top: 1px solid #000000;
  width: 900px;
}

.technologies-title,
.tools-title,
.knowledge-title,
.projects-title {
  font-family: "cartoonist-bold", sans-serif;
  font-size: 18px;
  text-align: center;
}

.indent1 {
  text-indent: 30px;
}

.indent2 {
  text-indent: 60px;
}

.indent3 {
  text-indent: 90px;
}

footer {
  display: flex;
  justify-content: space-between;
}
    
.footer-item {
  background-color: #D6E9FE;
  height: 100px;
  flex: 1;
  justify-content: center;
}

.footer-one,
.footer-three {
  background-color: #5995DA;
}

.footer-two {
    flex: initial;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    