* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
  header {
    display: flex;
    padding: 25px;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .about-me {
    padding-bottom: 15px;
  }

  .quotation1-containter {
    display: flex;
    flex-direction: column;
  }

  .quotation2-containter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px, 0px, 0px, 15px;
  }

  .contact-data-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 15px;
  }

  .linkedin {
    display: flex;
  }
  
  .contact-linkedin-icon {
    display: flex;
    margin-right: 2px;
  }

  .name-surname {
    display: flex;
  }
  
  .title-container,
  .summary-container {
    display: flex;
    justify-content: center;

    border-bottom: 1px solid #000000;
  }

  .title,
  .summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    height: 200px;
    width: 900px;
  }

  .sub-title,
  .summary-description {
    padding-top: 10px;
  }

  .chapters-grid-container {
    display: flex;
    justify-content: center;
  }

  .chapters-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .chapters-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    padding: 15px;
  
    border-bottom: 1px solid #000000;
  }
  
  .skills-container,
  .projects-container {
    display: flex;
  }
  
  .skills-content,
  .technologies-content,
  .tools-content,
  .knowledge-content,
  .projects-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
  }

  .technologies-content,
  .tools-content,
  .knowledge-content,
  .projects-content {
    border-bottom: 1px solid #000000;
  }

  .chapter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .chapter1-title,
  .chapter2-title,
  .chapter1-header,
  .chapter2-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }

  .chapter1-example-title,
  .chapter2-example-title {
    display: flex;
    justify-content: flex-start;
  }

  .chapter1-go-to-menu,
  .chapter2-go-to-menu {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }

  .chapter1-example-content,
  .chapter2-example-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .chapter1-example-content-pascal,
  .chapter2-example-content-pascal,
  .chapter1-example-content-javascript,
  .chapter2-example-content-javascript,
  .chapter2-example-content-pascal-language,
  .chapter2-example-content-javascript-language {
    flex: initial;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: initial;
    padding: 15px;
  }

  footer {
    display: flex;
    flex: initial;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 900px) {

  header {
    display: flex;
    padding: 25px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
  }

  .quotation1-containter {
    display: flex;
    flex-direction: column;
  }

  .quotation2-containter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-data-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
  }

  .linkedin {
    display: flex;
  }
  
  .contact-linkedin-icon {
    display: flex;
    margin-right: 2px;
  }

  .name-surname {
    display: flex;
  }

  .title-container,
  .summary-container {
    display: flex;
    justify-content: center;
  }

  .title,
  .summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    height: 200px;
    width: 100%;

    border-bottom: 1px solid #000000;
  }

  .sub-title,
  .summary-description {
    padding-top: 10px;
  }

  .chapters-grid-container {
    display: flex;
    justify-content: center;
  }

  .chapters-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .chapters-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 290px;
    padding: 15px;
    margin: 3px;
  
    border: 1px solid #000000;
  }

  .skills-container,
  .projects-container {
    display: flex;
  }
  
  .skills-content,
  .technologies-content,
  .tools-content,
  .knowledge-content,
  .projects-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
  }

  .technologies-content,
  .tools-content,
  .knowledge-content,
  .projects-content {
    border-bottom: 1px solid #000000;
  }

  .chapter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .chapter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .chapter1-title,
  .chapter2-title,
  .chapter1-header,
  .chapter2-header {
    display: flex;
    align-items: initial;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }

  .chapter1-example-title,
  .chapter2-example-title {
    display: flex;
    flex: 1;
    justify-content: left;
  }

  .chapter1-go-to-menu,
  .chapter2-go-to-menu {
    display: flex;
    flex: initial;
    justify-content: flex-end;
    width: 100px;
  }

  .chapter1-example-content,
  .chapter2-example-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .chapter1-example-content-pascal,
  .chapter2-example-content-pascal,
  .chapter1-example-content-javascript,
  .chapter2-example-content-javascript,
  .chapter2-example-content-pascal-language,
  .chapter2-example-content-javascript-language {
    flex: initial;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: initial;
    padding: 15px;
  }

  footer {
    display: flex;
    flex: initial;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 901px) {
  header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 25px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 900px;
  }

  .quotation1-containter {
    display: flex;
    flex-direction: column;
  }

  .quotation2-containter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .contact-data-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .linkedin {
    display: flex;
  }
  
  .contact-linkedin-icon {
    display: flex;
    margin-right: 2px;
  }

  .name-surname {
    display: flex;
  }

  .title-container,
  .summary-container {
    display: flex;
    justify-content: center;
  }

  .title,
  .summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    height: 200px;
    width: 900px;
  }

  .sub-title,
  .summary-description {
    padding-top: 10px;
  }

  .chapters-grid-container {
    display: flex;
    justify-content: center;
  }

  .chapters-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
  }

  .chapters-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 150px;
    padding: 15px;
    margin: 3px;
  
    border: 1px solid #000000;
  }

  .skills-container,
  .projects-container {
    display: flex;
    justify-content: center;
  }  

  .skills-content {
    display: flex;
    width: 900px;
  }

  .technologies-content,
  .tools-content,
  .knowledge-content,
  .projects-content {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
  }

  .tools-content {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
  }

  .projects-content {
    border-top: 1px solid #000000;
    width: 900px;
  }

  .chapter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .chapter1-title,
  .chapter2-title,
  .chapter1-header,
  .chapter2-header {
    display: flex;
    align-items: initial;
    justify-content: center;
    width: 900px;
    padding: 10px;
  }

  .chapter1-example-title,
  .chapter2-example-title {
    display: flex;
    flex: 1;
    justify-content: left;
  }

  .chapter1-go-to-menu,
  .chapter2-go-to-menu {
    display: flex;
    flex: initial;
    justify-content: flex-end;
    width: 100px;
  }

  .chapter1-example-content,
  .chapter2-example-content {
    display: flex;
    align-items: flex-start;
    width: 900px;
  }

  .chapter1-example-content-pascal,
  .chapter2-example-content-pascal,
  .chapter1-example-content-javascript,
  .chapter2-example-content-javascript,
  .chapter2-example-content-pascal-language,
  .chapter2-example-content-javascript-language {
    flex: initial;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: initial;
    padding: 15px;
  }

  footer {
    display: flex;
    flex: initial;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
}

@font-face {
  font-family: '1942';
  src: url('../fonts/1942-webfont.woff') format('woff');
}

@font-face {
  font-family: 'bebas';
  src: url('../fonts/Bebas-Regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'daniel';
  src: url('../fonts/Daniel-Regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'bitstream';
  src: url('../fonts/VeraMono-webfont.woff') format('woff');
}

@font-face {
  font-family: 'cartoonist';
  src: url('../fonts/SF_Cartoonist_Hand-webfont.woff') format('woff');
}

@font-face {
  font-family: 'cartoonist-bold';
  src: url('../fonts/SF_Cartoonist_Hand_SC_Bold-webfont.woff') format('woff');
}

/* unvisited link */
a:link {
  text-decoration: none;
  color: inherit;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: inherit;
}

/* mouse over link */
a:hover {
  color: #808080;
  text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
  color: inherit;
}

header {
  color: #ffffff;
  background-color: #5995DA;
}

.about-me {
  font-family: "cartoonist-bold", sans-serif;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;

}

.quotation1-containter {
  font-family: 'daniel', sans-serif;
  font-size: 15px;
}

.quotation2-containter {
  font-family: 'daniel', sans-serif;
  font-size: 15px;
}

.contact-in-touch {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
}

.name-surname {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: right;
}

.title-container,
.summary-container {
  color: #5995DA;
  background-color: #D6E9FE;
}
  
.title,
.summary {
  text-align: center;
}

.main-title,
.summary-title {
  font-family: '1942', sans-serif;
  font-size: 35px;
}

.sub-title {
  font-family: '1942', sans-serif;
  font-size: 20px;
}

.summary-description {
  font-family: "cartoonist", sans-serif;
  font-size: 25px;
}
  
.chapters-grid-item {
  background-color: #ffffff;
  text-align: center;
  font-family: "cartoonist", sans-serif;
  font-size: 20px;
}
  
.chapter1-title,
.chapter2-title,
.chapter1-header,
.chapter2-header {
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
  font-family: "cartoonist-bold", sans-serif;
  font-size: 20px;
}

.chapter1-example-title,
.chapter2-example-title {
    font-family: "cartoonist", sans-serif;
    font-size: 22px;
}

.chapter1-go-to-menu,
.chapter2-go-to-menu {
    font-family: "cartoonist-bold", sans-serif;
    font-size: 15px;
}

.chapter1-example-content-pascal,
.chapter2-example-content-pascal,
.chapter2-example-content-pascal-language {
  background-color: #ffffff;
  color: #000000;
  font-family: 'bitstream', sans-serif;
  font-size: 12px;
}

.chapter1-example-content-javascript,
.chapter2-example-content-javascript,
.chapter2-example-content-javascript-language {
  background-color: #000000;
  color: #ffffff;
  font-family: 'bitstream', sans-serif;
  font-size: 12px;
}

.technologies-content,
.tools-content,
.knowledge-content,
.projects-content {
  background-color: #ffffff;
  font-family: "cartoonist", sans-serif;
  font-size: 20px;
  text-align: center;
}

.technologies-title,
.tools-title,
.knowledge-title,
.projects-title {
  font-family: "cartoonist-bold", sans-serif;
  font-size: 18px;
  text-align: center;
}

.indent1 {
  text-indent: 20px;
}

.indent2 {
  text-indent: 40px;
}

.indent3 {
  text-indent: 60px;
}

.indent4 {
  text-indent: 80px;
}

footer {
  background-color: #D6E9FE;
}

